.app {
  margin: 25px;
  height: 100%;
}

.home {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .app {
    margin: 35px;
  }
}

@media (min-width: 1025px) {
  .app {
    margin-top: 0;
  }
}
