.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba($color: white, $alpha: 0.2);
  .navigation-full {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    .navigation-full {
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;

      ul {
        li {
          display: inline;
          padding: 0px 20px;

          a {
            font-family: var(--font-spartan);
            opacity: 0.75;
            font-size: 14px;
            letter-spacing: 1px;
            text-decoration: none;
          }
        }
      }
    }
    display: block;
    .title {
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 50px 0 40px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    display: flex;
    padding: 10px 0 10px 0;
    height: 100px;
    align-items: center;
    margin-bottom: 0px;

    .navigation-full {
      ul {
        align-items: center;
        

        li {
         
          .mercury.active {
            
            border-top: 4px solid #419ebb;
            opacity: 1;
          }
          .venus.active {
            border-top: 4px solid #eda249;
            opacity: 1;
          }
          .earth.active {
            border-top: 4px solid #6d2ed5;
            opacity: 1;
          }
          .mars.active {
            border-top: 4px solid #d14c32;
            opacity: 1;
          }
          .jupiter.active {
            border-top: 4px solid #d83a34;
            opacity: 1;
          }
          .saturn.active {
            border-top: 4px solid #cd5120;
            opacity: 1;
          }
          .uranus.active {
            border-top: 4px solid #1ec1a2;
            opacity: 1;
          }
          .neptune.active {
            border-top: 4px solid #2d68f0;
            opacity: 1;
          }
          a {
            padding-top: 42px;
            font-size: 16px;
          }
        }
      }
    }
    .title {
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 0;
    }
  }
}
