.wrapper {
  height: 70vh;
  
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  .button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      
      text-decoration: none;
      gap: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: none;
      border: none;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 20px 30px;
      font-family: var(--font-spartan);
      font-size: 22px;
      
      h1 {
        
        
        font-size: 22px;
        padding: 40px 50px;
        margin-top: 40px;
        border: 2px solid white;
        border-radius: 20px;
        transition: 0.4s;
        &:active {
          background-color: #6d2ed5;
        }
      }
      .rocket {
        width: 50px;
      }
      .animateRocket {
        width: 50px;
        animation: 5s infinite;
        animation-name: animate-rocket;
      }

      @keyframes animate-rocket {
        0% {
          transform: rotate(-10deg);
        }
        25% {
          transform: rotate(10deg);
        }
        50% {
          transform: rotate(-10deg);
        }
        75% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(-10deg);
        }
      }
    }
  }
}
.solar {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    .button-box {
      button {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 1025px) {
  .wrapper {
    display: none;
    height: 1000px;
    .button-box {
      button {
        cursor: pointer;
        font-size: 30px;
        &:hover {
        }
      }
    }
  }
  .solar {
    
    margin-top: 80px;
    margin-left: 30px;
    .sun {
      position:absolute;
      left: -480px;
      height: 800px;
      width: 600px;
      filter: blur(70px);
    }
    margin-top: 60px;
    border-radius: -50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-left: 6px  yellow;
    
    height: 50rem;
    gap: 5%;
    

    a {
      .mercury-img {
        height: 20px;
      }
      .venus-img {
        height: 50px;
      }
      .earth-img {
        height: 60px;
      }
      .mars-img {
        height: 20px;
      }
      .jupiter-img {
        height: 130px;
      }
      .saturn-img {
        height: 190px;
      }
      .uranus-img {
        height: 90px;
      }
      .neptune-img {
        height: 90px;
      }
      
      img {
        
        cursor: pointer;
        transition: scale 1s;
        &:hover {
          scale: 1.6;
        }
      }
      
    }
    
  }
  
}
